/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  color: #ffffff;
  opacity: 0.8;
  width: 100%;
  height: 4.375rem;
  position: fixed;
  top: 0;
  padding: 0 1.875rem;
  transition: 0.5s;
  z-index: 2;
}

.navbar.top {
  background: transparent;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.625rem 1.25rem;
  margin: 0 0.313;
}

.navbar a:hover {
  border-bottom: #f7c08a solid 0.125rem;
}

.navbar .logo {
  font-weight: 400;
}

.navbar .logo a:hover {
  border-bottom: none;
}

/* utility classes */

.clr {
  clear: both;
}

.py-1 {
  padding: 1.875rem 0;
}

.l-heading {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 350;
}

.text-primary {
  color: #f7c08a;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.7rem 1.9rem;
  color: #fff;
  border: none;
  border-radius: 0.313rem;
  background: #333;
}

.btn:focus {
  outline: none;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-green {
  background-color: mediumseagreen;
  color: #fff;
  font-size: 1rem;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

/* flex-columns */

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .img,
.flex-columns .column .content-column {
  height: 100%;
}

.flex-columns .column .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-columns .column .content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.875rem;
}

.flex-columns h1 {
  font-size: 2.5rem;
  font-weight: 100;
}

.flex-columns p {
  margin: 1.25rem 0;
}

/* Section-header */

.section-header {
  padding: 3.8rem 1.875rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h1 {
  font-size: 3rem;
  margin: 1.25rem 0;
}

.section-padding {
  padding: 1rem 1.25rem 1.25rem 1.25rem;
}

/* flex-grid */

.flex-grid .row {
  display: flex;
  flex-direction: row;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* rooms */

.rooms img {
  width: 100%;
  height: 13.234rem;
}

.rooms img:hover {
  opacity: 0.8;
}

/* SELECTOR BOX */

.main-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #9ba2a6;
  border-radius: 2px;
  width: 5rem;
}

.main-box> .minus, .plus{
  cursor: pointer;
}

.main-box .hiddeBtn{
  display: none;
}

.hiddenBtn{
  display: none;
}

.main-box .minus {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-right: #9ba2a6 1px solid;
}

.main-box .number {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.total-rooms{
  margin: 0px auto;
}

.main-box .plus {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-left: #9ba2a6 1px solid;
}

/* REGISTERATION FORM (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 5.3rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.25rem 1.25rem 1.25rem 2rem;
  border: 1px solid #888;
  border-radius: 10px;
  width: 45%;
}

/* THE FORM CLOSE BUTTON (x) */
.close {
  position: absolute;
  right: 3rem;
  top: 3.8rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
